@page
@model WebApp.Pages.Users.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>

<table class="table table-bordered" style="width: 500px">
    <tr>
        <th><label asp-for="Users.First().Name"></label></th>
        <th><label asp-for="Users.First().Surname"></label></th>
    </tr>
    @foreach (Models.User u in Model.Users)
    {
        <tr>
            <td>@u.Name</td>
            <td>@u.Surname</td>
        </tr>
    }
</table>

